.post-meta {
	clear: both;
	border-top: 1px dashed #333;
	border-bottom: 1px dashed #333;
	@include rems(padding, 1, 0);
	@include clearfix;
	@include rems(margin-bottom, 2);
	span {
		display: block;
		float: left;
		@include rems(margin-right, 2);
	}
}
img {
	&.aligncenter {
		display: block;
		text-align: center;
		margin: 0 auto;
		@include rems(margin-bottom, 2);
	}
}
.pagination {
	@include clearfix;
	float: right;
	ul {
		float: left;
		@include clearfix;
		li {
			float: left;
			@include rems(margin-left, 1.5);
			@include rems(padding-left, 1.5);
			border-left: 1px solid #000;
			list-style: none;
			&:first-child {
				border-left: none;
			}
			a {
				text-decoration: none;
				color: #000;
				font-weight: normal;
			}
		}
	}
}
