.shop_table {
	clear: both;
	width: 100%;
	border: 1px solid #333;
	th {
		background: #333;
		color: #fff;
		@media #{$phone} {
			display: none;
		}
	}
	th, td {
		@include rems(padding, 1, 1.5);
		border-bottom: 1px solid #333;
		text-align: left;
	}
	td {
		@include clearfix;
		@media #{$phone} {
			display: block;
			&:first-child {
				border-top: 1px solid #333;
			}
		}
	}
	tfoot {
		th {
			text-align: right;
			background: none;
			color: #333;
		}
	}
	img {
		@include rems(max-width, 6);
	}
	a {
		text-decoration: none;
	}
	.coupon {
		float: left;
		@include clearfix;
		width: 50%;
		@media #{$phone} {
			width: 100%;

		}
		label {
			display: none;
		}
		input {
			float: left;
			@include rems(margin-right, 1);
			&[type="text"] {
				width: 75%;
				width: calc(100% - 190px);
				width: calc(100% - 19rem);
				@media #{$phone} {
					width: 100%;
				}
			}
			&[type="submit"] {
				margin-top: 0;
				float: right;
				margin: 0;
				@include rems(width, 18);
				@media #{$phone} {
					width: 100%;
					@include rems(margin-top, 1);
				}
			}
		}
	}
	.button {
		float: right;
		margin-top: 0;
		@media #{$phone} {
			width: 100%;
			@include rems(margin-top, 2);
		}
	}
}
.cart-collaterals {
	float: right;
	@include clearfix;
	@include rems(margin-top, 4);
	@media #{$phone} {
		width: 100%;
	}
	h2 {
		@include rems(margin-bottom, 1);
	}
	table {
		border: 1px solid #333;
		td, th {
			@include rems(padding, 1, 1.5);
			border-bottom: 1px solid #333;
			text-align: left;
			p {
				padding-bottom: 0;
			}
		}
	}
	.button {
		float: right;
		@media #{$phone} {
			width: 100%;
			text-align: center;
		}
	}
}
