.woocommerce-info {
	clear: both;
	@include rems(margin-bottom, 2);
}
.col2-set {
	@include clearfix;
	@include rems(margin-bottom, 4);
	div.col-1, div.col-2 {
		@include rowMachine(2, 4%);
		float: left;
		@media #{$phone} {
			@include rowMachine(1, 5%);
		}
		h3 {
			@include rems(margin-bottom, 2);
		}
	}
}
h3 {
	&#order_review_heading {
		@include rems(margin-bottom, 2);
	}
}
.woocommerce-checkout-payment {
	@include rems(margin, 4, 0, 0);
	@include rems(padding, 4);
	background: #fff;
	@include clearfix;
	border: 1px dashed #333;
	@include border-radius(10px);
	@include clearfix;
	img {
		display: none;
	}
	ul {
		li {
			@include rems(margin-bottom, 0.5);
		}
	}
	.button {
		float: right;
	}
	.wc_payment_methods {
		@include rems(margin-bottom, 4);
	}
	.wc_payment_method {
		p {
			@include rems(padding-left, 1.6);
		}
	}
	.form-row {
		&.terms {
			float: left;
		}
	}
}
fieldset.wc-payment-form {
	@include rems(padding, 4, 0);
	@include rems(margin, 4, 0);
	border: none;
	border-top: 1px dashed #333;
	border-bottom: 1px dashed #333;
	@include clearfix;
	.form-row {
		width: 40.5%;
		float: left;
		margin-right: 2%;
		padding-left: 0;
		label {
			display: block;
			@include rems(margin-bottom, 0.5);
		}
		input {
			width: 100% !important;
		}
		&.form-row-last {
			width: 15%;
			margin-right: 0;
		}
	}
}
