.product-top {
	position: relative;
}
.images {
	float: left;
	width: 40%;
	margin-right: 3%;
	position: relative;
	@include rems(margin-bottom, 4);
	@media #{$phone} {
		width: 100%;
		margin-right: 0;
		@include rems(margin-bottom, 2);
	}
	img {
		display: block;
	}
	.woocommerce-main-image {
		margin-bottom: 2%;
		@include border;
		display: block;
	}
	.thumbnails {
		@include clearfix;
		a {
			display: block;
			float: left;
			@include rowMachine(3, 2%);
			@include border;
			@include box;
		}
	}
}
.summary {
	float: left;
	width: 57%;
	position: relative;
	@include rems(margin-bottom, 4);
	@media #{$phone} {
		width: 100%;
	}
	form {
		@include rems(margin, 4, 0);
		@include rems(padding, 4);
		background: #fff;
		@include clearfix;
		border: 1px dashed #333;
		@include border-radius(10px);
		a {
			&.reset_variations {
				display: none;
			}
		}
	}
	.variations_button {
		@include clearfix;
	}
	.quantity {
		float: left;
		@media #{$phone} {
			width: 100%;
		}
	}
	button {
		float: right;
		margin-top: 0;
		@media #{$phone} {
			@include rems(margin, 1, 0, 2);
			width: 100%;
		}
	}
	table.variations {
		border-bottom: 1px dashed #ccc;
		width: 100%;
		td {
			@include rems(padding, 1);
			&:first-child {
				padding-left: 0;
			}
		}
		tr {
			&:first-child {
				td {
					padding-top: 0;
				}
			}
			&:last-child {
				td {
					@include rems(padding-bottom, 2);
				}
			}
		}
	}
	.single_variation_wrap {
		@include clearfix;
	}
	.product_meta {
		& > span {
			display: block;
		}
	}
}
.woocommerce-tabs {
	width: 100%;
	clear: both;
	@include rems(margin, 4, 0);
	ul {
		&.tabs {
			@include clearfix;
			border-bottom: 1px solid #333;
			@include rems(padding, 2, 2, 0);
			@include rems(margin-bottom, 2);
			li {
				float: left;
				@include rems(margin-right, 0.5);
				margin-bottom: -1px;
				&:last-child {
					margin-right: 0;
				}
				a {
					display: block;
					border: 1px solid #333;
					@include rems(padding, 0.5, 2);
					@include border-radius(5px 5px 0 0);
					text-decoration: none;
				}
				&.active {
					a {
						border-bottom: 1px solid #eee;
					}
				}
			}
		}
	}
}
.commentlist {
	li {
		position: relative;
		@include clearfix;
		@include rems(padding, 2, 0);
		border-bottom: 1px dashed #333;
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
		img {
			float: left;
			display: block;
			@include rems(width, 6);
			@include rems(margin-right, 2);
			@include border-radius(50%);
			overflow: hidden;
			border: 1px solid #333;
			@include box;
		}
		.comment-text {
			float: left;
			width: calc(100% - 80px);
			width: calc(100% - 8rem);
		}
	}
}
#review_form_wrapper {
	border-top: 1px solid #333;
	@include rems(margin-top, 2);
	@include rems(padding-top, 2);
	h3 {
		@include rems(margin-bottom, 2);
	}
}
.onsale {
	display: block;
	position: absolute;
	@include rems(top, -1.5);
	@include rems(left, -1.5);
	text-indent: -10000px;
	@include rems(width, 7.5);
	@include rems(height, 7.5);
	background: url('images/sale@2x.png') center center no-repeat;
	background-size: contain;
	z-index: 500;
}
.stars {
	@include rems(margin-bottom, 2);
	display: block;
	padding-bottom: 0;
	span {
		@include clearfix;
		@include rems(height, 2);
		@include rems(width, 10);
		position: relative;
		display: block;
		a {
			display: block;
			float: left;
			text-indent: -10000px;
			@include rems(width, 2);
			@include rems(height, 2);
			background: url('images/solostar@2x.png') center right no-repeat;
			background-size: auto 20px;
			background-size: auto 2rem;
			position: absolute;
			left: 0;
			&:hover, &.active {
				background-image: url('images/starfill@2x.png');
			}
			&.star-1 {
				@include rems(width, 2);
				z-index: 10;
			}
			&.star-2 {
				@include rems(width, 4);
				z-index: 8;
			}
			&.star-3 {
				@include rems(width, 6);
				z-index: 6;
			}
			&.star-4 {
				@include rems(width, 8);
				z-index: 4;
			}
			&.star-5 {
				@include rems(width, 10);
				z-index: 2;
			}
		}
	}
}
.star-rating {
	position: absolute;
	@include rems(top, 1);
	right: 0;
	background: url('images/stars@2x.png') center left no-repeat;
	background-size: contain;
	@include rems(height, 1.5);
	@include rems(width, 7.5);
	.commentlist & {
		@include rems(top, 2);
	}
	span {
		display: block;
		text-indent: -10000px;
		background: url('images/starfill@2x.png') center left no-repeat;
		@include rems(height, 1.5);
		background-size: auto 15px;
		background-size: auto 1.5rem;
		overflow: hidden;
	}
}
