.post-excerpt {
	@include rems(margin-bottom, 4);
	@include clearfix;
	display: flex;
	align-items: center;
	@media #{$phone} {
		display: block;
	}
	aside {
		&.thumbnail {
			width: 22%;
			margin-right: 2%;
			@media #{$phone} {
				width: 100%;
				margin-right: 0;
				@include rems(margin-bottom, 2);
			}
			a {
				display: block;
				@include rems(padding, 0.5);
				background: #fff;
				@include border-radius(5px);
				-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
						box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
				transition: 0.4s all ease;
				img {
					display: block;
				}
			}
		}
		&.content {
			width: 76%;
			@media #{$phone} {
				width: 100%;
			}
			h2 {
				a {
					text-decoration: none;
				}
			}
			.post-meta {
				margin-bottom: 0;
				a.read-more {
					float: right;
				}
			}
		}
	}
}
