@font-face {
    font-family: 'dk_aderynregular';
    src: url('fonts/dk_aderyn-webfont.eot');
    src: url('fonts/dk_aderyn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dk_aderyn-webfont.woff2') format('woff2'),
         url('fonts/dk_aderyn-webfont.woff') format('woff'),
         url('fonts/dk_aderyn-webfont.ttf') format('truetype'),
         url('fonts/dk_aderyn-webfont.svg#dk_aderynregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin aderyn { 
	font-family: 'dk_aderynregular';
	text-transform: uppercase;
	@include rems(letter-spacing, 0.5);
}
