footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	@media #{$phone} {
		border-top: 1px solid #333;
	}
	span {
		@media #{$phone} {
			display: block;
		}
		&.pipe {
			@media #{$phone} {
				display: none;
			}	
		}
	}
	.footer-content {
		@include rems(padding, 3, 0, 2);
		@include clearfix;
		aside {
			@include clearfix;
			&.footer-main {
				width: 80%;
				margin-right: 3%;
				@media #{$phone} {
					width: 100%;
					margin-right: 0;
				}
			}
			&.footer-logo {
				width: 17%;
				@media #{$phone} {
					width: 100%;
					text-align: center;
					@include rems(padding-top, 2);
				}
			}
		}
	}
	.page-template-template-holding & {
		.container {
			@include border;
			border-bottom: none;
			border-left: none;
			border-right: none;
			@media #{$phone} {
				border: none;
				border-top: 2px solid #333;
			}
		}
	}
	.mailing-list {
		@include clearfix;
		aside {
			&:first-child {
				@include rems(margin-right, 1);
			}
		}
		input {
			margin: 0;
		}
	}
}
