.form-split {
	@include clearfix;
	margin-bottom: 2%;
	aside {
		@include rowMachine(2, 2%);
		padding: 0!important;
		@media #{$phone} {
			@include rowMachine(1, 5%);
			&:nth-child(2n+1):nth-last-child(-n+2),
			&:nth-child(2n+1):nth-last-child(-n+2) ~ * {
				margin-bottom: 5%;
			}
		}
		input[type=email], input[type=text], input[type=tel], textarea {
			margin-bottom: 0;
		}
	}
}
input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="password"], textarea {
	@include border-radius(4px);
	border: 2px solid #a1a1a1;
	background: #fff;
	font-family: 'Arvo', serif;
	@include rems(padding, 1);
	@include font-size(1.6, 2);
	@include box;
	outline: none;
	width: 100%;
	-webkit-appearance: none;
}
select {
	@include border-radius(4px);
	border: 2px solid #a1a1a1;
	background-image: url('images/select@2x.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 36px auto;
	background-size: 3.6rem auto;
	@include rems(padding, 1, 5.2, 1, 1);
	font-family: 'Arvo', serif;
	@include font-size(1.6, 2);
	@include box;
	outline: none;
	width: 100%;
	display: block;
	-webkit-appearance: none;
	   -moz-appearance: none;
}
select::-ms-expand {
    display: none;
}
a.button, button.button, input[type="submit"] {
	display: block;
	@include rems(margin-top, 1);
	background: #333;
	color: #fff;
	@include border-radius(4px);
	border: 2px solid #333;
	@include box;
	@include rems(padding, 1, 2);
	@include hover;
	font-weight: 700;
	font-family: 'Arvo';
	@include font-size(1.6, 2);
	cursor: pointer;
	outline: none;
	text-decoration: none;
	-webkit-appearance: none;
	text-align: center;
	@include box;
	@media #{$phone} {
		width: 100%;
	}
}
form {
	&.login {
		margin: 0 auto;
		@include rems(max-width, 60);
		@include clearfix;
		@include box;
		@include rems(padding, 4);
		@include border-radius(10px);
		border: 2px dashed #333;
		input[type="submit"] {
			float: right;
		}
	}
}
