.gallery {
	border-top: 1px dashed #333;
	@include rems(margin-top, 0.5);
	@include rems(padding, 2, 0);
	.home & {
		margin-top: 0;
		padding: 0;
		border-top: none;
	}
	ul {
		@include clearfix;
		margin: 0;
		padding: 0;
		li {
			float: left;
			list-style: none;
			@include box;
			@include rems(padding, 0.5);
			background: #fff;
			@include border-radius(5px);
			-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
					box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
			transition: 0.4s all ease;
			&:nth-child(6n+1) {
				transform: rotate(1deg);
			}
			&:nth-child(6n+2) {
				transform: rotate(-1deg);
			}
			&:nth-child(6n+3) {
				transform: rotate(2deg);
			}
			&:nth-child(6n+4) {
				transform: rotate(-1.5deg);
			}
			&:nth-child(6n+5) {
				transform: rotate(-2deg);
			}
			&:nth-child(6n) {
				transform: rotate(-1deg);
			}
			&:hover {
				box-shadow: none;
				transform: rotate(0deg);
			}
			img {
				display: block;
			}
		}
		&.three-wide {
			li {
				@include rowMachine(3, 0%);
			}
		}
		&.five-wide {
			li {
				@include rowMachine(5, 0%);
				@media #{$phone} {
					@include rowMachine(3, 0%);
					&:nth-child(5n+1) {
						clear: none;
					}
				}
			}
		}
		&.seven-wide {
			li {
				@include rowMachine(7, 0%);
				@media #{$phone} {
					@include rowMachine(3, 0%);
					&:nth-child(7n+1) {
						clear: none;
					}
				}
			}
		}
	}
}
.full-overlay {
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	position:fixed;
	background:#0b0b0b;
	opacity:.8;
	filter:alpha(opacity=80);
	z-index: 9999;
	display: none;
	visibility: hidden;
	&.visible {
		visibility: visible;
	}
}
.overlay-wrap {
	display: none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:fixed;
	outline:0!important;
	-webkit-backface-visibility:hidden;
	overflow-y: auto; 
	overflow-x: hidden;
	z-index: 9999;
	visibility: hidden;
	&.visible {
		visibility: visible;
	}
	.overlay-container {
		text-align:center;
		position:absolute;
		width:100%;
		height:100%;
		left:0;
		top:0;
		padding:0 8px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		.overlay-content {
			position:relative;
			display:inline-block;
			vertical-align:middle;
			margin: 40px auto;
			margin: 4rem auto;
			width: 90%;
			@include rems(max-width, 80);
			text-align:left;
			z-index:1045;
			background: #fff;
			@include rems(padding, 1);
			border: 10px solid #333;
			&.contact {
				@include rems(padding, 4);
			}
			.overlay-close {
				position: absolute;
				@include rems(top, 1);
				@include rems(right, 1);
				color: #333;
				z-index: 50;
			}
			ul {
				margin: 0;
				li {
					list-style: none;
					text-align: center;
					img {
						display: inline-block;
					}
				}
			}
			.bx-next, .bx-prev {
				background: #333;
				@include font-size(3, 3);
				@include rems(padding, 1);
				text-align: center;
				@include rems(width, 5);
				@include box;
				position: absolute;
				color: #fff;
				top: 50%;
				@include rems(margin-top, -2.5);
				display: block;
			}
			.bx-prev {
				left: 0;
			}
			.bx-next {
				right: 0;
			}
		}
	}
}
