body {
	background: url('images/site-bg.png');
	color: #000;
	font-family: 'Arvo', serif;
	@include font-size(1.6, 2.2);
	color: #333;
}
.container {
	@include rems(max-width, 120);
	@include clearfix;
	&.main {
		@include rems(padding, 4, 0);
	}
	&.ultra {
		@include rems(padding, 8, 0);
		@media #{$phone} {
			@include rems(padding, 4, 0);
		}
	}
	&.no-top {
		padding-top: 0;
	}
}
.page-content {
	position: relative;
	min-height: 100%;
}
.page-sidebar {
	width: 20%;
	margin-right: 4%;
	@include rems(padding-top, 4);
	@media #{$phone} {
		width: 100%;
	}
}
.page-main {
	width: 76%;
	@media #{$phone} {
		width: 100%;
	}
	h2 {
		@include rems(margin-bottom, 2);
	}
	h3 {
		@include rems(margin-bottom, 2);
		font-weight: 700;
	}
	ul {
		@include rems(margin, 0, 0, 2, 4);
		li {
			list-style: disc;
			@include rems(margin-bottom, 0.5);
			ul {
				@include rems(margin, 0.5, 0, 0, 2);
			}
		}
	}
}
.page-body {
	clear: both;
}
a {
	color: #333;
}
.alignright {
	float: right;
	@include rems(margin, 0, 0, 2, 2);
	@include border;
	@media #{$phone} {
		width: 100%;
	}
}
.alignleft {
	float: left;
	@include rems(margin, 0, 2, 2, 0);
	@include border;
	@media #{$phone} {
		width: 100%;
	}	
}
h1, h2 {
	&.page-title, &.product_title {
		@include font-size(4, 4);
		@include rems(margin-bottom, 2);
	}
	&.page-title {
		.woocommerce-page & {
			float: left;
		}
	}
}
h2 {
	@include font-size(2.2, 2.6);
	&.feature-title {
		@include border;
		border-left: 0;
		border-right: 0;
		text-align: center;
		@include aderyn;
		@include rems(padding, 1, 0, 0.6);
		@include font-size(3, 3);
		@include rems(margin-bottom, 2);
	}
}
.post-sidebar {
	@media #{$phone} {
		display: none;
	}
}
