header {
	&.site-header {
		text-align: center;
		@include rems(padding, 2, 0);
		@include rems(margin-bottom, 2);
		@media #{$phone} {
			margin-bottom: 0;
		}
		h1, h2 {
			@include aderyn;
			@include font-size(7.2, 14);
			display: block;
			@include rems(height, 14);
			@include rems(letter-spacing, 3);
			@include rems(margin-bottom, 2);
			@media #{$phone} {
				@include font-size(4, 4);
				@include rems(letter-spacing, 1);
				height: auto;
				margin-bottom: 0;
			}
			span {
				display: block;
				background-repeat: no-repeat;
				background-size: 120px auto;
				background-size: 12rem auto;
				height: 100%;
				@media #{$phone} {
					background-size: 60px auto;
					background-size: 6rem auto;
				}
				&.skull-left {
					background-image: url('images/logo-skull-left.png');
					background-position: top left;
					@include rems(padding-left, 12);
					//background-size: contain;
					@media #{$phone} {
						@include rems(padding-left, 4);
						background-position: center left;
					}
				}
				&.skull-right {
					background-image: url('images/logo-skull-right.png');
					background-position: top right;
					@include rems(padding-right, 12);
					//background-size: contain;
					@media #{$phone} {
						@include rems(padding-right, 4);
						background-position: center right;
					}
				}
			}
			a {
				color: #333;
				text-decoration: none;
				font-weight: normal;
			}
		}
	}
	.page-template-template-holding & {
		.container {
			@include border;
			border-top: none;
			border-left: none;
			border-right: none;
			@media #{$phone} {
				border: none;
				border-bottom: 2px solid #333;
				@include rems(padding-bottom, 1);
			}
		}
	}
}
