.home-section {
	@include rems(margin-bottom, 2);
	@include clearfix;
	img {
		display: block;
	}
	ul {
		&.product_list_widget {
			@include clearfix;
			li {
				@include box;
				@media #{$desktop} {
					float: left;
					@include rowMachine(5, 2%);
					@include border;
				}
				span, del, ins {
					display: none;
				}
				a {
					@media #{$phone} {
						display: block;
						border: 2px solid #333;
					}
				}
			}
		}
	}
	aside {
		&.home-news {
			width: 66%;
			margin-right: 2%;
			@media #{$phone} {
				width: 100%;
				margin-right: 0;
			}
		}
		&.home-sidebar {
			width: 32%;
			@media #{$phone} {
				width: 100%;
			}
		}
	}
	.bx-pager {
		text-align: center;
		& > div {
			display: inline-block;
			@include rems(margin, 2, 0.5, 0);
			a {
				display: block;
				@include rems(width, 1);
				@include rems(height, 1);
				border: 1px solid #333;
				@include border-radius(50%);
				text-indent: -10000px;
				overflow: hidden;
				&.active {
					background: #333;
				}
			}
		}
	}
	.gallery {
		@media #{$phone} {
			display: none;
		}
	}
}
