ul {
	&.products {
		@include clearfix;
		clear: both;
		border-top: 1px dashed #333;
		border-bottom: 1px dashed #333;
		@include rems(padding, 4, 0);
		li {
			@include rowMachine(5, 2%);
			float: left;
			text-align: center;
			position: relative;
			margin-bottom: 4% !important;
			&:nth-child(5n+1):nth-last-child(-n+5),
  			&:nth-child(5n+1):nth-last-child(-n+5) ~ * {
  				margin-bottom: 0 !important;
  			}
			@media #{$phone} {
				@include rowMachine(2, 4%);
				&:nth-child(5n+1) {
					clear: none;
				}
				&:nth-child(5n+1):nth-last-child(-n+5),
  				&:nth-child(5n+1):nth-last-child(-n+5) ~ * {
  					margin-bottom: 4% !important;
  				}
			}
			.star-rating {
				display: none;
			}
			img {
				@include border;
				display: block;
				@include rems(margin-bottom, 1);
			}
			a {
				color: #333;
				text-decoration: none;
				&.button {
					width: 80%;
					margin: 0 10%;
					color: #fff;
				}
			}
			h3 {
				@include rems(max-height, 2.2);
				overflow: hidden;
				@include rems(margin-bottom, 1);
			}
			span.price {
				display: block;
				@include rems(margin-bottom, 1);
			}
		}
	}
}
