.woocommerce-message {
	clear: both;
	background: #333;
	color: #fff;
	@include rems(padding, 1, 2);
	@include clearfix;
	@include border-radius(4px);
	@include rems(margin-bottom, 2);
	.button {
		float: right;
		margin-top: 0;
		text-decoration: none;
		background: none;
		padding: 0;
	}
}
