nav {
	&.main {
		@include border;
		border-left:0;
		border-right:0;
		@include rems(padding, 1, 0, 0.6);
		font-size: 0;
		text-align: center;
		@include clearfix;
		@media #{$phone} {
			display: none;
		}
		footer & {
			text-align: left;
			@include rems(padding, 1, 0, 0.2);
		}
		ul {
			footer & {
				float: left;
			}
			li {
				display: inline-block;
				@include font-size(3, 3);
				@include aderyn;
				@include rems(padding, 0, 3);
				@include border;
				border-left: 0;
				border-top: 0;
				border-bottom: 0;
				footer & {
					@include font-size(2, 2);
					border: 0;
					@include rems(padding, 0, 1);
				}
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					border-right: 0;
					padding-right: 0;
				}
				a {
					text-decoration: none;
					color: #000;
					font-weight: normal;
				}
				&:hover, &.current_page_item, &.current_page_parent, &.current-page-ancestor {
					a {
						@include opacity(0.5);
					}
				}
			}
			&.socials {
				float: right;
				li {
					@include rems(padding, 0, 0, 0, 1);
				}
			}
		}
	}
}
.mobile-nav-trigger {
	display: none;
	@media #{$phone} {
		display: block;
		background: #333;
		color: #fff;
		@include rems(padding, 1, 2);
		text-decoration: none;
		&:before {
			float: right;
			@include icon;
			content: '\f0c9';
		}
		&.active {
			&:before {
				content: '\f00d';
			}
		}
	}
}
.mobile-nav {
	background: #fff;
	display: none;
	li {
		border-bottom: 1px solid #ccc;
		a {
			@include rems(padding, 1, 2, 1, 1.5);
			display: block;
			text-decoration: none;
			border-left: 5px solid #fff;
			border-left: 0.5rem solid #fff;
		}
		&:hover, &.current_page_item, &.current_page_parent, &.current-page-ancestor {
			a {
				border-left: 5px solid #333;
				border-left: 0.5rem solid #333;		
			}
		}
	}
}
