.woocommerce-pagination {
	float: right;
	@include rems(padding, 2, 0);
	ul {
		@include clearfix;
		li {
			float: left;
			@include rems(margin-left, 0.5);
			a, span {
				display: block;
				@include rems(padding, 0.5);
				color: #fff;
				text-decoration: none;
				background: #333;
				text-align: center;
				@include rems(width, 3);
				@include box;
			}
			span {
				font-weight: 700;
				background: none;
				color: #333;
			}
		}
	}
}
