.widget {
	@include rems(margin-bottom, 2);
	h2 {
		@include font-size(1.8, 2);
		@include rems(margin-bottom, 0.5);
	}
	ul {
		li {
			@include rems(padding, 1, 0);
			border-bottom: 1px dashed #333;
			&:first-child {
				@include rems(padding, 0, 0, 1);
			}
			&:last-child {
				border-bottom: none;
				@include rems(padding, 1, 0, 0);
			}
			a {
				color: #000;
				text-decoration: none;
				font-weight: 300;
			}
			&.current_page_item {
				a {
					font-weight: 700;
				}
			}
		}
	}
	label {
		display: none;
	}
}
.widget.subnav {
	@media #{$phone} {
		@include rems(padding, 1, 2);
		border: 1px solid #333;
		@include border-radius(10px);
		& > a {
			display: block;
			text-decoration: none;
			@include rems(padding, 1, 0);
			@include chevron-down;
			&:before {
				float: right;
				transition: 0.4s all ease;
			}
			&.active {
				&:before {
					transform: rotate(180deg);
				}
			}
		}
		ul {
			display: none;
			@include rems(padding, 1, 0);
		}
	}	
}
.subnav-trigger {
	display: none;
	@media #{$phone} {
		display: block;
	}
}
