.shop-nav {
	@include clearfix;
	@include rems(margin-bottom, 1.5);
	@include font-size(1.2, 1.6);
	float: right;
	ul {
		float: right;
		@include clearfix;
		li {
			float: left;
			@include rems(margin-left, 1.5);
			@include rems(padding-left, 1.5);
			border-left: 1px solid #000;
			&:first-child {
				border-left: none;
			}
			a {
				text-decoration: none;
				color: #000;
				font-weight: normal;
			}
		}
	}
}
.shop-note {
	//@include font-size(1.6, 2);
	.container {
		border-bottom: 1px dashed #333;
		@include rems(padding-bottom, 4);
		@include rems(margin-bottom, 4);
	}
}
.woocommerce-page {
	h2, table {
		@include rems(margin-bottom, 2);
	}
}
.woocommerce-result-count {
	float: left;
	clear: left;
	@include rems(padding-bottom, 4);
	@media #{$phone} {
		display: none;
	}
}
.woocommerce-ordering {
	float: right;
	clear: right;
	@include rems(margin-top, -1.5);
	@include rems(width, 28);
	@media #{$phone} {
		width: 100%;
		@include rems(margin, 1, 0);
	}
}
.back-top {
	display: none;
}
a, button {
	&.button {
		display: block;
		@include rems(margin-top, 1);
		background: #333;
		color: #fff;
		@include border-radius(4px);
		border: 2px solid #333;
		@include box;
		@include rems(padding, 1, 2);
		@include hover;
		border: none;
		font-weight: 700;
		font-family: 'Arvo';
		@include font-size(1.6, 2);
		cursor: pointer;
	}
}
dl {
	@include clearfix;
	dd, dt {
		float: left;
		@include rems(margin, 0.5, 0.5, 0.5, 0);
		text-transform: capitalize;
	}
}
.woocommerce-page {
	.container {
		position: relative;
	}
}
.widget {
	.woocommerce-page & {
		position: absolute;
		@include rems(right, 29);
		@include rems(top, 4.5);
		@media #{$phone} {
			position: static;
		}
		h2 {
			display: none;
		}
	}
}
